@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.8em;
  font-family: 'Raleway', sans-serif;
}

article {
  padding: 0 1em;
}

section{
  margin: 1em;
  padding: 1em;
}

header, main, footer {
  margin: 0 auto;
}

header {
  color: white;
  padding: 2em;
  text-align: center;
  background-image: url('img/bg.jpg');
  background-size: cover;
  background-position: fixed;
}

header section {
  margin: 0 auto;
  max-width: 640px;
}

header img {
  width: 150px;
  border-radius: 50%;
}

h1 {
  margin: 1em 0;
  text-transform: uppercase;
}

h3 {
  font-weight: bold;
  text-transform: uppercase;
}

main section:not(:last-child) {
  border-bottom: rgba(23, 143, 39, 0.096);
  border-bottom-style:groove;
  border-radius: 1%;
}

main {
  max-width: 1140px;
}

.course {
  display: flex;
  flex-wrap: wrap;
}

.course .title {
  font-weight: bold;
  text-transform: uppercase;
  color: #509e98;
}

.course .description {
  flex: 0 0 66.6%;
  max-width: 66.6%;
}

.course .description p {
  padding-left: 1em;
}

.course .title {
  flex: 0 0 33.3%;
  max-width: 33%;
}

.school span {
  color: #A7B8BF;
  text-decoration: underline;
}

.school {
  text-transform: capitalize;
  font-weight: bold;
}

footer {
 padding: 1em;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skills .column {
  flex: 0 0 50%;
  max-width: 50%;
}

ul {
  list-style-type: "▶";
}

footer {
  text-align: right;
  background-color: black;
  color: white;
}

a {
  color: white;
}

a:hover {
  opacity: 0.7;
}